{% extends 'admin/baseAdmin.html.twig' %}
{% block title %}Edit Category{% endblock %}

{% block body %}
    <h1 style="color: azure">Edit Category</h1>

    {{ include('category_p/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_category_p_index') }}">back to list</a>

    {{ include('category_p/_delete_form.html.twig') }}
{% endblock %}
