{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Edit Game
{% endblock %}

{% block body %}

	<h4 style="color: azure">Edit
		{{ game.title }}</h4>


	{{ include('game/_form.html.twig', {'button_label': 'Update'}) }}


	{{ include('game/_delete_form.html.twig') }}
{% endblock %}
