<form method="post" action="{{ path('app_commande_delete', {'idCommande': commandeprod.idCommande}) }}" onsubmit="return confirm('Are you sure ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commandeprod.idCommande) }}">
    <button class="btn">Delete</button>
</form>
