{% extends 'front/baseFront.html.twig' %}

{% block title %}New Commandeprod{% endblock %}

{% block body %}
    <h3 style="color: azure">Request your Order</h3>
  {{ include('commande/_form.html.twig') }}


    <style>

        body{
            align-items: center;
        }
    </style>
{% endblock %}
