{% extends 'admin/baseAdmin.html.twig' %}
{% block title %}New User
{% endblock %}

{% block body %}

	<h4 style="color: white;">Create new User</h4>

	{{ include('user/_form.html.twig') }}

	<a href="{{ path('app_user_index')}}" class="btn btn-secondary btn-xs">back to list
	</a>
{% endblock %}
