{% extends 'base.html.twig' %}

{% block title %}Report index{% endblock %}

{% block body %}
    <h1>Report index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Reason</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>

            <tr>
           =
                <td>

                </td>
            </tr>

            <tr>
                <td colspan="3">no records found</td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('app_report_new') }}">Create new</a>
{% endblock %}
